@model IEnumerable<BarShowroom.Models.Bar>

@{
    ViewBag.Title = "BarShowroom";
}

<h2>Bars:</h2>
<span>Showing @Model.Count() bars selling @ViewBag.beer</span>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnpj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.RouteLink(item.Name, "BarBeers", new { barname = item.Name })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnpj)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { Id=item.Id })
        </td>
    </tr>
}

</table>
